<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stanl_2.final_backend.domain.purchase_order.query.repository.PurchaseOrderMapper">

    <resultMap id="purchaseOrderDetailResultMap" type="stanl_2.final_backend.domain.purchase_order.query.dto.PurchaseOrderSelectIdDTO">
        <id property="purchaseOrderId" column="PUR_ORD_ID"/>
        <result property="title" column="PUR_ORD_TTL"/>
        <result property="content" column="PUR_ORD_CONT"/>
        <result property="active" column="ACTIVE"/>
        <result property="createdAt" column="CREATED_AT"/>
        <result property="updatedAt" column="UPDATED_AT"/>
        <result property="deletedAt" column="DELETED_AT"/>
        <result property="status" column="PUR_ORD_STAT"/>
        <result property="orderId" column="ORD_ID"/>
        <result property="adminId" column="ADMIN_ID"/>
        <result property="memberId" column="MEM_ID"/>
    </resultMap>

    <select id="findPurchaseOrderByIdAndMemberId" resultMap="purchaseOrderDetailResultMap" parameterType="map">
        SELECT
               A.PUR_ORD_ID,
               A.PUR_ORD_TTL,
               A.PUR_ORD_CONT,
               A.ACTIVE,
               A.CREATED_AT,
               A.UPDATED_AT,
               A.DELETED_AT,
               A.PUR_ORD_STAT,
               A.ORD_ID,
               A.ADMIN_ID,
               A.MEM_ID
          FROM TB_PURCHASE_ORDER A
         WHERE A.MEM_ID = #{memberId}
           AND A.ACTIVE = TRUE
           AND A.PUR_ORD_ID = #{purchaseOrderId}
    </select>


</mapper>