spring:
  data:
    redis:
      host: ${REDIS_HOST:redis}
      port: ${REDIS_PORT:6379}
      lettuce:
        pool:
          max-active: 10
          max-idle: 5
          min-idle: 2
      timeout: 5000ms
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false


logging:
  level:
    org.springframework.security: debug
    org.mybatis: debug

mybatis:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl