<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stanl_2.final_backend.domain.order.query.repository.OrderMapper">

    <resultMap id="orderResultMap" type="stanl_2.final_backend.domain.order.query.dto.OrderSelectAllDTO">
        <result property="orderId" column="ORD_ID"/>
        <result property="title" column="ORD_TTL"/>
        <result property="status" column="ORD_STAT"/>
        <result property="contractTitle" column="CONR_TTL"/>
        <result property="adminName" column="ADMIN_NAME"/>
        <result property="memberName" column="MEM_NAME"/>
        <result property="productName" column="PROD_NAME"/>
    </resultMap>

    <resultMap id="orderDetailResultMap" type="stanl_2.final_backend.domain.order.query.dto.OrderSelectIdDTO">
        <result property="orderId" column="ORD_ID"/>
        <result property="title" column="ORD_TTL"/>
        <result property="content" column="ORD_CONT"/>
        <result property="active" column="ACTIVE"/>
        <result property="createdAt" column="CREATED_AT"/>
        <result property="updatedAt" column="UPDATED_AT"/>
        <result property="deletedAt" column="DELETED_AT"/>
        <result property="status" column="ORD_STAT"/>
        <result property="contractId" column="CONR_ID"/>
        <result property="adminId" column="ADMIN_ID"/>
        <result property="memberId" column="MEM_ID"/>
    </resultMap>

    <select id="findAllOrderByMemberId" resultMap="orderResultMap">
        SELECT
               a.ord_id,
               a.ord_ttl,
               a.ord_stat,
               b.conr_ttl,
               d.mem_name AS admin_name,
               c.mem_name AS mem_name,
               e.prod_name
          FROM tb_order a
          LEFT JOIN tb_contract b
            ON a.conr_id = b.conr_id
          LEFT JOIN tb_member c
            ON a.mem_id = c.mem_id
          LEFT JOIN tb_member d
            ON a.admin_id = d.mem_id
          LEFT JOIN tb_product e
            ON b.prod_id = e.prod_id
         WHERE a.mem_id = #{memberId}
           AND a.active = TRUE
         ORDER BY a.created_at DESC
         LIMIT #{pageSize} OFFSET #{offset};
    </select>

    <select id="findOrderCountByMemberId" resultType="int">
        SELECT
        COUNT(*) AS cnt
        FROM tb_order a
        WHERE a.mem_id = #{memberId}
        AND a.active = TRUE;
    </select>

    <select id="findOrderByIdAndMemberId" resultMap="orderDetailResultMap" parameterType="map">
        SELECT
        a.ord_id,
        a.ord_ttl,
        a.ord_cont,
        a.active,
        a.created_at,
        a.updated_at,
        a.deleted_at,
        a.ord_stat,
        a.conr_id,
        a.admin_id,
        a.mem_id
        FROM tb_order a
        LEFT JOIN tb_contract b
        ON a.conr_id = b.conr_id
        LEFT JOIN tb_member c
        ON a.mem_id = c.mem_id
        LEFT JOIN tb_member d
        ON a.admin_id = d.mem_id
        LEFT JOIN tb_product e
        ON b.prod_id = e.prod_id
        WHERE a.mem_id = #{memberId}
        AND a.active = TRUE
        AND a.ord_id = #{orderId};
    </select>

    <select id="findSearchOrderByMemberId" resultMap="orderResultMap" parameterType="map">
        SELECT
        a.ord_id,
        a.ord_ttl,
        a.ord_stat,
        b.conr_ttl,
        d.mem_name AS admin_name,
        c.mem_name AS mem_name,
        e.prod_name
        FROM tb_order a
        LEFT JOIN tb_contract b
        ON a.conr_id = b.conr_id
        LEFT JOIN tb_member c
        ON a.mem_id = c.mem_id
        LEFT JOIN tb_member d
        ON a.admin_id = d.mem_id
        LEFT JOIN tb_product e
        ON b.prod_id = e.prod_id
        <where>
            a.mem_id = #{memberId}
            AND a.active = TRUE
            <if test="title != null">
                AND a.ord_ttl LIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="status != null">
                AND a.ord_stat = #{status}
            </if>
            <if test="adminId != null">
                AND a.admin_id = #{adminId}
            </if>
            <if test="searchMemberId != null">
                AND a.mem_id = #{searchMemberId}
            </if>
            <if test="startDate != null and endDate != null">
                AND a.created_at BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
        ORDER BY a.created_at DESC
        LIMIT #{pageSize} OFFSET #{offset};
    </select>

    <select id="findOrderSearchCountByMemberId" resultType="int" parameterType="map">
        SELECT
        COUNT(*) AS cnt
        FROM tb_order a
        <where>
            a.mem_id = #{memberId}
            AND a.active = TRUE
            <if test="title != null">
                AND a.ord_ttl LIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="status != null">
                AND a.ord_stat = #{status}
            </if>
            <if test="adminId != null">
                AND a.admin_id = #{adminId}
            </if>
            <if test="searchMemberId != null">
                AND a.mem_id = #{searchMemberId}
            </if>
            <if test="startDate != null and endDate != null">
                AND a.created_at BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
    </select>



    <select id="findAllOrder" resultMap="orderResultMap">
        SELECT
        a.ord_id,
        a.ord_ttl,
        a.ord_stat,
        b.conr_ttl,
        d.mem_name AS admin_name,
        c.mem_name AS mem_name,
        e.prod_name
        FROM tb_order a
        LEFT JOIN tb_contract b
        ON a.conr_id = b.conr_id
        LEFT JOIN tb_member c
        ON a.mem_id = c.mem_id
        LEFT JOIN tb_member d
        ON a.admin_id = d.mem_id
        LEFT JOIN tb_product e
        ON b.prod_id = e.prod_id
        WHERE AND a.active = TRUE
        ORDER BY a.created_at DESC
        LIMIT #{pageSize} OFFSET #{offset};
    </select>

    <select id="findOrderCount" resultType="int">
        SELECT
        COUNT(*) AS cnt
        FROM tb_order a
        WHERE a.active = TRUE;
    </select>

    <select id="findOrderByOrderId" resultMap="orderDetailResultMap" parameterType="map">
        SELECT
        a.ord_id,
        a.ord_ttl,
        a.ord_cont,
        a.active,
        a.created_at,
        a.updated_at,
        a.deleted_at,
        a.ord_stat,
        a.conr_id,
        a.admin_id,
        a.mem_id
        FROM tb_order a
        LEFT JOIN tb_contract b
        ON a.conr_id = b.conr_id
        LEFT JOIN tb_member c
        ON a.mem_id = c.mem_id
        LEFT JOIN tb_member d
        ON a.admin_id = d.mem_id
        LEFT JOIN tb_product e
        ON b.prod_id = e.prod_id
        WHERE a.active = TRUE
        AND a.ord_id = #{orderId};
    </select>

    <select id="findSearchOrder" resultMap="orderResultMap" parameterType="map">
        SELECT
        a.ord_id,
        a.ord_ttl,
        a.ord_stat,
        b.conr_ttl,
        d.mem_name AS admin_name,
        c.mem_name AS mem_name,
        e.prod_name
        FROM tb_order a
        LEFT JOIN tb_contract b
        ON a.conr_id = b.conr_id
        LEFT JOIN tb_member c
        ON a.mem_id = c.mem_id
        LEFT JOIN tb_member d
        ON a.admin_id = d.mem_id
        LEFT JOIN tb_product e
        ON b.prod_id = e.prod_id
        <where>
            a.active = TRUE
            <if test="title != null">
                AND a.ord_ttl LIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="status != null">
                AND a.ord_stat = #{status}
            </if>
            <if test="adminId != null">
                AND a.admin_id = #{adminId}
            </if>
            <if test="searchMemberId != null">
                AND a.mem_id = #{searchMemberId}
            </if>
            <if test="startDate != null and endDate != null">
                AND a.created_at BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
        ORDER BY a.created_at DESC
        LIMIT #{pageSize} OFFSET #{offset};
    </select>

    <select id="findOrderSearchCount" resultType="int" parameterType="map">
        SELECT
        COUNT(*) AS cnt
        FROM tb_order a
        <where>
            a.active = TRUE
            <if test="title != null">
                AND a.ord_ttl LIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="status != null">
                AND a.ord_stat = #{status}
            </if>
            <if test="adminId != null">
                AND a.admin_id = #{adminId}
            </if>
            <if test="searchMemberId != null">
                AND a.mem_id = #{searchMemberId}
            </if>
            <if test="startDate != null and endDate != null">
                AND a.created_at BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
    </select>

</mapper>