<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stanl_2.final_backend.domain.member.query.repository.MemberRoleMapper">
    <select id="findMembersbyRole" resultType="string" parameterType="string">
        SELECT
               a.mem_id
          FROM tb_member_role a
         WHERE a.mem_rol_name = #{ memberRole }
    </select>

    <select id="findMembersRolebyId" resultType="string" parameterType="string">
        SELECT
        a.mem_rol_name
        FROM tb_member_role a
        WHERE a.mem_id = #{ memberId }
    </select>
</mapper>