<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stanl_2.final_backend.domain.contract.query.repository.ContractMapper">

    <resultMap id="contractResultMap" type="stanl_2.final_backend.domain.contract.query.dto.ContractSeletIdDTO">
        <id property="id" column="CONR_ID"/>
        <result property="name" column="CONR_NAME"/>
        <result property="custName" column="CONR_CUST_NAME"/>
        <result property="custIdenNo" column="CONR_CUST_IDEN_NO"/>
        <result property="custAddrress" column="CONR_CUST_ADR"/>
        <result property="custEmail" column="CONR_CUST_EMA"/>
        <result property="custPhone" column="CONR_CUST_PHO"/>
        <result property="compName" column="CONR_COMP_NAME"/>
        <result property="custCla" column="CONR_CUST_CLA"/>
        <result property="custPurCond" column="CONR_CUST_PUR_COND"/>
        <result property="seriNum" column="CONR_SERI_NUM"/>
        <result property="seleOpti" column="CONR_SELE_OPTI"/>
        <result property="downPay" column="CONR_DOWN_PAY"/>
        <result property="intePay" column="CONR_INTE_PAY"/>
        <result property="remPay" column="CONR_REM_PAY"/>
        <result property="consPay" column="CONR_CONS_PAY"/>
        <result property="delvDate" column="CONR_DELV_DATE"/>
        <result property="delvLoc" column="CONR_DELV_LOC"/>
        <result property="status" column="CONR_STAT"/>
        <result property="noOfVeh" column="CONR_NO_OF_VEH"/>
        <result property="createdUrl" column="CREATED_URL"/>
        <result property="deletedUrl" column="DELETED_URL"/>
        <result property="active" column="ACTIVE"/>
        <result property="createdAt" column="CREATED_AT"/>
        <result property="updatedAt" column="UPDATED_AT"/>
        <result property="deletedAt" column="DELETED_AT"/>
        <result property="memId" column="MEM_ID"/>
        <result property="centId" column="CENT_ID"/>
        <result property="custId" column="CUST_ID"/>
        <result property="prodId" column="PROD_ID"/>
    </resultMap>

    <resultMap id="contractSearchResultMap" type="stanl_2.final_backend.domain.contract.query.dto.ContractSearchDTO">
        <id property="id" column="CONR_ID"/>
        <result property="name" column="CONR_NAME"/>
        <result property="custName" column="CONR_CUST_NAME"/>
        <result property="custIdenNo" column="CONR_CUST_IDEN_NO"/>
        <result property="custAddrress" column="CONR_CUST_ADR"/>
        <result property="custEmail" column="CONR_CUST_EMA"/>
        <result property="custPhone" column="CONR_CUST_PHO"/>
        <result property="compName" column="CONR_COMP_NAME"/>
        <result property="custCla" column="CONR_CUST_CLA"/>
        <result property="custPurCond" column="CONR_CUST_PUR_COND"/>
        <result property="seriNum" column="CONR_SERI_NUM"/>
        <result property="seleOpti" column="CONR_SELE_OPTI"/>
        <result property="downPay" column="CONR_DOWN_PAY"/>
        <result property="intePay" column="CONR_INTE_PAY"/>
        <result property="remPay" column="CONR_REM_PAY"/>
        <result property="consPay" column="CONR_CONS_PAY"/>
        <result property="delvDate" column="CONR_DELV_DATE"/>
        <result property="delvLoc" column="CONR_DELV_LOC"/>
        <result property="status" column="CONR_STAT"/>
        <result property="noOfVeh" column="CONR_NO_OF_VEH"/>
        <result property="createdUrl" column="CREATED_URL"/>
        <result property="deletedUrl" column="DELETED_URL"/>
        <result property="active" column="ACTIVE"/>
        <result property="createdAt" column="CREATED_AT"/>
        <result property="updatedAt" column="UPDATED_AT"/>
        <result property="deletedAt" column="DELETED_AT"/>
        <result property="memId" column="MEM_ID"/>
        <result property="centId" column="CENT_ID"/>
        <result property="custId" column="CUST_ID"/>
        <result property="prodId" column="PROD_ID"/>
        <result property="prodName" column="PROD_NAME" />
    </resultMap>

    <resultMap id="contractAllResultMap" type="stanl_2.final_backend.domain.contract.query.dto.ContractSelectAllDTO">
        <id property="id" column="CONR_ID"/>
        <result property="name" column="CONR_NAME"/>
        <result property="custName" column="CONR_CUST_NAME"/>
        <result property="compName" column="CONR_COMP_NAME"/>
        <result property="status" column="CONR_STAT"/>
        <result property="createdUrl" column="CREATED_URL"/>
        <result property="deletedUrl" column="DELETED_URL"/>
        <result property="active" column="ACTIVE"/>
        <result property="memId" column="MEM_ID"/>
        <result property="centId" column="CENT_ID"/>
        <result property="custId" column="CUST_ID"/>
        <result property="prodId" column="PROD_ID"/>
        <result property="prodName" column="PROD_NAME" />
    </resultMap>

    <select id="findContractByIdAndMemId" resultMap="contractResultMap" parameterType="hashmap">
        SELECT
               A.CONR_ID,
               A.CONR_NAME,
               A.CONR_CUST_NAME,
               A.CONR_CUST_IDEN_NO,
               A.CONR_CUST_ADR,
               A.CONR_CUST_EMA,
               A.CONR_CUST_PHO,
               A.CONR_COMP_NAME,
               A.CONR_CUST_CLA,
               A.CONR_CUST_PUR_COND,
               A.CONR_SERI_NUM,
               A.CONR_SELE_OPTI,
               A.CONR_DOWN_PAY,
               A.CONR_INTE_PAY,
               A.CONR_REM_PAY,
               A.CONR_CONS_PAY,
               A.CONR_DELV_DATE,
               A.CONR_DELV_LOC,
               A.CONR_STAT,
               A.CONR_NO_OF_VEH,
               A.CREATED_URL,
               A.CREATED_AT,
               A.UPDATED_AT,
               A.ACTIVE,
               A.CENT_ID,
               A.CUST_ID,
               A.PROD_ID,
               A.MEM_ID
          FROM TB_CONTRACT A
         WHERE A.CONR_ID = #{ id }
           AND A.MEM_ID = #{ memId }
           AND A.ACTIVE = TRUE;
    </select>

    <select id="findContractAllByMemId" resultMap="contractAllResultMap" parameterType="map">
        SELECT
               A.CONR_ID,
               A.CONR_NAME,
               A.CONR_CUST_NAME,
               A.CONR_COMP_NAME,
               A.CONR_STAT,
               A.CREATED_URL,
               A.ACTIVE,
               B.PROD_NAME
          FROM TB_CONTRACT A
          JOIN TB_PRODUCT B
            ON A.PROD_ID = B.PROD_ID
         WHERE A.MEM_ID = #{ memId }
           AND A.ACTIVE = TRUE
        ORDER BY A.CREATED_AT DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="findContractBySearch" resultMap="contractSearchResultMap" parameterType="map">
        SELECT
        A.CONR_ID,
        A.CONR_CUST_NAME,
        A.CONR_COMP_NAME,
        A.CONR_STAT,
        A.CREATED_URL,
        A.CONR_CUST_PUR_COND,
        A.CREATED_AT,
        A.UPDATED_AT,
        A.DELETED_AT,
        A.ACTIVE,
        B.PROD_NAME
        FROM TB_CONTRACT A
        JOIN TB_PRODUCT B ON A.PROD_ID = B.PROD_ID
        WHERE A.MEM_ID = #{memId}
        AND A.ACTIVE = TRUE

        <if test="centId != null and centId != ''">
            AND A.CENT_ID LIKE CONCAT('%', #{centId}, '%')
        </if>
        <if test="name != null and centId != ''">
            AND A.CONR_NAME LIKE CONCAT('%', #{name}, '%')
        </if>
        <if test="custName != null and centId != ''">
            AND A.CONR_CUST_NAME LIKE CONCAT('%', #{custName}, '%')
        </if>
        <if test="custCla != null and centId != ''">
            AND A.CONR_CUST_CLA LIKE CONCAT('%', #{custCla}, '%')
        </if>
        <if test="status != null and centId != ''">
            AND A.CONR_STATUS = #{status}
        </if>
        <if test="compName != null and centId != ''">
            AND A.CONR_COMP_NAME LIKE CONCAT('%', #{compName}, '%')
        </if>
        <if test="custPurCond != null and centId != ''">
            AND A.CONR_CUST_PUR_COND LIKE CONCAT('%', #{custPurCond}, '%')
        </if>
        <if test="startAt != null and endAt != null and centId != ''">
            AND A.CREATED_AT BETWEEN #{startAt} AND #{endAt}
        </if>
        <if test="startAt != null and endAt == null and centId != ''">
            AND A.CREATED_AT &gt; #{startAt}
        </if>
        <if test="startAt == null and endAt != null and centId != ''">
            AND A.CREATED_AT &lt; #{endAt}
        </if>
        <if test="prodName != null and centId != ''">
            AND B.PROD_NAME LIKE CONCAT('%', #{prodName}, '%')
        </if>
        ORDER BY A.CREATED_AT DESC
        LIMIT #{pageable.pageSize} OFFSET #{pageable.offset}
    </select>

    <select id="findContractCountByMemId" resultType="int">
        SELECT
        COUNT(*) AS CNT
        FROM TB_CONTRACT A
        WHERE A.MEM_ID = #{ memId }
        AND A.ACTIVE = TRUE
    </select>

    <select id="findContractBySearchCount" resultType="int" parameterType="map">
        SELECT COUNT(*)
        FROM TB_CONTRACT A
        JOIN TB_PRODUCT B ON A.PROD_ID = B.PROD_ID
        WHERE A.MEM_ID = #{memId}
        AND A.ACTIVE = TRUE

        <if test="centId != null and centId != ''">
            AND A.CENT_ID LIKE CONCAT('%', #{centId}, '%')
        </if>
        <if test="name != null and centId != ''">
            AND A.CONR_NAME LIKE CONCAT('%', #{name}, '%')
        </if>
        <if test="custName != null and centId != ''">
            AND A.CONR_CUST_NAME LIKE CONCAT('%', #{custName}, '%')
        </if>
        <if test="custCla != null and centId != ''">
            AND A.CONR_CUST_CLA LIKE CONCAT('%', #{custCla}, '%')
        </if>
        <if test="status != null and centId != ''">
            AND A.CONR_STATUS = #{status}
        </if>
        <if test="compName != null and centId != ''">
            AND A.CONR_COMP_NAME LIKE CONCAT('%', #{compName}, '%')
        </if>
        <if test="custPurCond != null and centId != ''">
            AND A.CONR_CUST_PUR_COND LIKE CONCAT('%', #{custPurCond}, '%')
        </if>
        <if test="startAt != null and endAt != null and centId != ''">
            AND A.CREATED_AT BETWEEN #{startAt} AND #{endAt}
        </if>
        <if test="startAt != null and endAt == null and centId != ''">
            AND A.CREATED_AT &gt; #{startAt}
        </if>
        <if test="startAt == null and endAt != null and centId != ''">
            AND A.CREATED_AT &lt; #{endAt}
        </if>
        <if test="prodName != null and centId != ''">
            AND B.PROD_NAME LIKE CONCAT('%', #{prodName}, '%')
        </if>
    </select>

</mapper>