<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stanl_2.final_backend.domain.evaluation.query.repository.EvaluationMapper">

    <resultMap id="salesHistoryAllResultMap" type="stanl_2.final_backend.domain.evaluation.query.dto.EvaluationDTO">
        <id property="salesHistoryId" column="SAL_HIST_ID"/>
        <result property="salesHistoryNumberOfVehicles" column="SAL_HIST_NO_OF_VEH"/>
        <result property="salesHistoryTotalSales" column="SAL_HIST_TOTA_SALE"/>
        <result property="salesHistoryIncentive" column="SAL_HIST_INCE"/>
        <result property="createdAt" column="CREATED_AT"/>
        <result property="contractId" column="CONR_ID"/>
        <result property="customerId" column="CUST_ID"/>
        <result property="productId" column="PROD_ID"/>
        <result property="memberId" column="MEM_ID"/>
        <result property="centerId" column="CENT_ID"/>
    </resultMap>

    <select id="findAllSalesHistory" resultMap="salesHistoryAllResultMap">
        SELECT
        a.eval_id,
        a.eval_ttl,
        a.cent_id,
        a.mem_id,
        a.wri_id,
        a.created_at
        FROM tb_evaluation a
        WHERE a.active = TRUE
        ORDER BY a.created_at DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="findEvaluationByCenterId" resultMap="evaluationAllResultMap" parameterType="stanl_2.final_backend.domain.evaluation.common.util.EvaluationRequestList">
        SELECT
        a.eval_id,
        a.eval_ttl,
        a.cent_id,
        a.mem_id,
        a.wri_id,
        a.created_at
        FROM tb_evaluation a
        WHERE a.cent_id = #{centerId} AND a.active = TRUE
        ORDER BY a.created_at DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="findEvaluationById" resultMap="evaluationAllResultMap" parameterType="String">
        SELECT
        a.eval_id,
        a.eval_ttl,
        a.eval_cont,
        a.cent_id,
        a.mem_id,
        a.wri_id,
        a.created_at,
        a.updated_at
        FROM tb_evaluation a
        WHERE a.eval_id = #{id} AND a.active = TRUE
    </select>

    <select id="findEvaluationByCenterIdAndSearch" resultMap="evaluationAllResultMap" parameterType="String">
        SELECT
        a.eval_id,
        a.eval_ttl,
        a.cent_id,
        a.mem_id,
        a.wri_id,
        a.created_at
        FROM tb_evaluation a
        <where>
            a.active = TRUE AND a.cent_id = #{centerId}
            <if test="evaluationSearchDTO.evalId != null">
                AND a.eval_id = #{evaluationSearchDTO.evalId}
            </if>
            <if test="evaluationSearchDTO.writerName != null">
                AND a.wri_id = #{evaluationSearchDTO.writerName}
            </if>
            <if test="evaluationSearchDTO.memberName != null">
                AND a.mem_id = #{evaluationSearchDTO.memberName}
            </if>
            <if test="evaluationSearchDTO.title != null">
                AND a.eval_ttl LIKE CONCAT('%', #{evaluationSearchDTO.title}, '%')
            </if>
            <if test="evaluationSearchDTO.startDate != null and evaluationSearchDTO.endDate != null">
                AND a.created_at BETWEEN #{evaluationSearchDTO.startDate} AND #{evaluationSearchDTO.endDate}
            </if>
        </where>
        ORDER BY a.created_at DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="findEvaluationBySearch" resultMap="evaluationAllResultMap" parameterType="String">
        SELECT
        a.eval_id,
        a.eval_ttl,
        a.cent_id,
        a.mem_id,
        a.wri_id,
        a.created_at
        FROM tb_evaluation a
        <where>
            a.active = TRUE
            <if test="evaluationSearchDTO.evalId != null">
                AND a.eval_id = #{evaluationSearchDTO.evalId}
            </if>
            <if test="evaluationSearchDTO.writerName != null">
                AND a.wri_id = #{evaluationSearchDTO.writerName}
            </if>
            <if test="evaluationSearchDTO.memberName != null">
                AND a.mem_id = #{evaluationSearchDTO.memberName}
            </if>
            <if test="evaluationSearchDTO.centerId != null">
                AND a.cent_id = #{evaluationSearchDTO.centerId}
            </if>
            <if test="evaluationSearchDTO.title != null">
                AND a.eval_ttl LIKE CONCAT('%', #{evaluationSearchDTO.title}, '%')
            </if>
            <if test="evaluationSearchDTO.startDate != null and evaluationSearchDTO.endDate != null">
                AND a.created_at BETWEEN #{evaluationSearchDTO.startDate} AND #{evaluationSearchDTO.endDate}
            </if>
        </where>
        ORDER BY a.created_at DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="findEvaluationCount" resultType="int">
        SELECT
        COUNT(*) AS cnt
        FROM tb_evaluation a
        WHERE a.active = TRUE
    </select>

    <select id="findEvaluationCountByCenterId" resultType="int" parameterType="String">
        SELECT
        COUNT(*) AS cnt
        FROM tb_evaluation a
        WHERE a.cent_id = #{centerId} AND a.active = TRUE;
    </select>

    <select id="findEvaluationBySearchCount" resultType="int" parameterType="String">
        SELECT
        COUNT(*) AS cnt
        FROM tb_evaluation a
        <where>
            a.active = TRUE
            <if test="evaluationSearchDTO.evalId != null">
                AND a.eval_id = #{evaluationSearchDTO.evalId}
            </if>
            <if test="evaluationSearchDTO.writerName != null">
                AND a.wri_id = #{evaluationSearchDTO.writerName}
            </if>
            <if test="evaluationSearchDTO.memberName != null">
                AND a.mem_id = #{evaluationSearchDTO.memberName}
            </if>
            <if test="evaluationSearchDTO.centerId != null">
                AND a.cent_id = #{evaluationSearchDTO.centerId}
            </if>
            <if test="evaluationSearchDTO.title != null">
                AND a.eval_ttl LIKE CONCAT('%', #{evaluationSearchDTO.title}, '%')
            </if>
            <if test="evaluationSearchDTO.startDate != null and evaluationSearchDTO.endDate != null">
                AND a.created_at BETWEEN #{evaluationSearchDTO.startDate} AND #{evaluationSearchDTO.endDate}
            </if>
        </where>
    </select>

    <select id="findEvaluationByCenterIdAndSearchCount" resultType="int" parameterType="String">
        SELECT
        COUNT(*) AS cnt
        FROM tb_evaluation a
        <where>
            a.active = TRUE AND a.cent_id = #{centerId}
            <if test="evaluationSearchDTO.evalId != null">
                AND a.eval_id = #{evaluationSearchDTO.evalId}
            </if>
            <if test="evaluationSearchDTO.writerName != null">
                AND a.wri_id = #{evaluationSearchDTO.writerName}
            </if>
            <if test="evaluationSearchDTO.memberName != null">
                AND a.mem_id = #{evaluationSearchDTO.memberName}
            </if>
            <if test="evaluationSearchDTO.title != null">
                AND a.eval_ttl LIKE CONCAT('%', #{evaluationSearchDTO.title}, '%')
            </if>
            <if test="evaluationSearchDTO.startDate != null and evaluationSearchDTO.endDate != null">
                AND a.created_at BETWEEN #{evaluationSearchDTO.startDate} AND #{evaluationSearchDTO.endDate}
            </if>
        </where>
    </select>

</mapper>
